
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

   

nav {
	
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
    margin-bottom: 0px;
    background-color: white;
    position: sticky;
    top:0 ;

}
/*child selector*/
nav > ul > li {
	list-style-type: none;
}

/*descendant selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*li elements turn into inline elements, default behavior of li is block elements*/
	display: inline;
}

#intro {
	/*creates space between the contents of the intro section and the it's border*/
	/*The value "10%" is used to make the page responsive to the screen size. It generates it's value based on the parent element which is the body tag, which spans the whole width of the page.*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*shorthand property
	padding: top left&right bottom;
	padding: 2rem 10% 3rem;
	*/
	text-align: center;

}
.header{
    text-align: center;
}

#intro h2, #intro p{
    margin-bottom: 1rem;

}

#succeed-info h3{
    text-align: center;
    margin-bottom: 1rem;
}
#succeed-info .card{
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin: 0 0.5rem 0 0.5rem;
}
#pre-footer{
    color: aliceblue;
    background-color: #002540;
    margin-bottom: 20px;
    text-align: center;
}
#pre-footer .foot{
    vertical-align: top;
    display: inline-block;
   margin-right: 120px;
   line-height: 2;
   font-size: 15px;
   

}
footer{
    color: #002540;
    text-align: center;
}

ul{
    text-align: right;
}

.logo{
    margin-right: auto;
}
.container{
    display: flex;
}
.button{
    background-color: #c2195a;
    color: white;
    border-radius: 20px;
    width: 100px;
    border-color: white;
}
.banner-card::after{
    content: '';
    display: block;
    width: 100%;
    height: 450px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    
}
.banner-card > button{
content: '';
position: relative;
z-index: 10;

}
.banner-card{
    background-image: url(./img/bg.jpg);
    background-size: cover;
    width: 100%;
    background-repeat:no-repeat;
    background-attachment:scroll;
    height: 450px;
    background-color: black;
    opacity:0.;
    position: relative;
    z-index: 0;
    

}
h4{
    padding-top:12px;
    text-align: right;
    font-size: 30px;
    padding-right: 120px;
    color: white;
    text-shadow:2px 2px 2px #c2195a;
    position: relative;
    z-index: 1;
    
}
.offer > *{
    z-index: 10;
}
.offer{
    padding-top: 15px;
    text-align: right;
    font-size: 18px;
    padding-right: 120px;
    color:white;
    text-shadow:2px 2px 2px #c2195a;

}
.ap{
    background-color: #c2195a;
    color: white;
    border-radius: 20px;
    width: 120px;
    border-color: transparent;
    float: right;
    margin-right: 120px;
    padding: 5px;
    margin-top: 12px;
}
#question{
    width: 80%;
    height: 500px;
    background-color: aliceblue;
    margin: auto;
    
}
.bn{
    background-color: cadetblue;
    width: 100px;
    border-radius: 20px;
    border-color: transparent;
    margin-top: 100px;
    font-size: 15px;
    color: white;
    }



    p{
        text-align: justify;
        line-height: 40px;
    }
    #btn-booknow{
        text-align: center;
    }
